<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/web/fragments/head :: head}"></th:block>
</head>
<body>

<th:block th:insert="~{/web/fragments/header :: header}"></th:block>

<main th:object="${showCommonPage}">
    <div class="row">
        <img th:src="*{mainImage == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + mainImage}"
             class="d-md-block w-100" alt="..." height="600">
    </div>
    <div class="row mt-4 mb-3 text-center"><h1 th:text="*{name}"></h1></div>
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <p class="text-start" th:text="*{description}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-9 ">
                    <img src="/img/img_4.png" class="d-md-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 text-center"><h1>ФОТОГАЛЕРЕЯ</h1></div>
    <div class="row m-auto w-75">
        <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="6000" th:if="*{galleryImage1!=null}">
                    <img th:src="*{galleryImage1 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage1}"
                         class="d-md-block w-100" height="800" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage2!=null}">
                    <img th:src="*{galleryImage2 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage2}"
                         class="d-md-block w-100" height="800" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage3!=null}">
                    <img th:src="*{galleryImage3 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage3}"
                         class="d-md-block w-100" height="800" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage4!=null}">
                    <img th:src="*{galleryImage4 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage4}"
                         class="d-md-block w-100" height="800" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage5!=null}">
                    <img th:src="*{galleryImage5 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage5}"
                         class="d-md-block w-100" height="800" alt="/img/img.png">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</main>

<th:block th:insert="~{/web/fragments/footer :: footer}"></th:block>

<th:block th:insert="~{/web/fragments/js :: js}"></th:block>
</body>
</html>
