<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/web/fragments/head :: head}"></th:block>
</head>
<body>

<th:block th:insert="~{/web/fragments/header :: header}"></th:block>

<main th:object="${contactsPage}">
    <div class="row mt-4 mb-3 text-center"><h1 th:text="*{title}"></h1></div>
    <div class="row">
        <div class="ml-5 col-md-10 ">
            <div class="col-md-12">
                <div class="row pt-5" th:if="${cinemaInfo.disabled}" th:each="cinemaInfo:${contactsPage.cinemaInfoList}">
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <h2 th:text="${cinemaInfo.cinemaName}"></h2>
                        </div>
                        <div class="col-md-2">
                            <img th:src="${cinemaInfo.logo == null} ? ${'/img/common/no-image.jpg'} : ${'/files/' + cinemaInfo.logo}"
                                 class="d-md-block w-100" alt="/img/img.png">
                        </div>
                        <div class="col-md-7">
                            <h6 th:text="${cinemaInfo.address}"></h6>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row mt-5 ">
                <div class="col-md-12 text-center">
                    <div class="col-md-2"></div>
                    <div class="col-md-9 ">
                        <img src="/img/img_4.png" class="d-md-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:insert="~{/web/fragments/footer :: footer}"></th:block>

<th:block th:insert="~{/web/fragments/js :: js}"></th:block>
</body>
</html>
