<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="~{/web/fragments/head :: head}"></th:block></head>
<body>

<th:block th:insert="~{/web/fragments/header :: header}"></th:block>

<div class="container-fluid">
  <div class="row">
    <div class="ml-5 col-md-10 ">
      <div class="row">
        <div class="col-md-4 gap-3 p-5" th:if="${news.disabled}" th:each="news:${newsList}">
          <div class="row">
            <div class="card p-0">
              <img th:src="${news.mainImage == null} ? ${'/img/common/no-image.jpg'} : ${'/files/' + news.mainImage}"
                   class="card-img-top" height="250" alt="...">
              <div class="card-body">
                <a th:href="${'/about-cinema/news/news-page/' + news.id}" th:text="${news.name}"></a>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-auto">
                    <p class="card-text" th:text="${#temporals.format(news.publicatedAt, 'dd.MM.yyyy')}"></p>
                  </div>
                  <div class="col-md-auto">
                    <a th:href="${news.trailerUrl}" class="link-danger"><i class="fa-brands fa-youtube"></i></a>
                  </div>
                </div>

              </div>
              <div class="card-body">
                <p class="card-text" th:text="${news.description}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row mt-5 ">
        <div class="col-md-12 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-9 ">
            <img src="/img/img_4.png" class="d-md-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<th:block th:insert="~{/web/fragments/footer :: footer}"></th:block>

<th:block th:insert="~{/web/fragments/js :: js}"></th:block>
</body>
</html>
