<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin-panel/fragments/head :: head}"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <th:block th:insert="~{admin-panel/fragments/navbar :: navbar}"></th:block>

    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/admin/statistics" class="brand-link">
            <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">Kino-CMS</span>
        </a>

        <!-- Sidebar -->
        <th:block th:insert="~{admin-panel/fragments/sidebar :: sidebar}"></th:block>

        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid pt-4">
                <div class="form-group row">
                    <div class="col-lg-3 col-12">

                        <div class="small-box bg-gray-light">
                            <div class="inner">
                                <h3 th:text="${numberOfCinemas}"></h3>
                                <p>Cinemas</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-house"></i>
                            </div>
                            <a href="/admin/cinemas/" class="small-box-footer">
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">

                        <div class="small-box bg-gray-light">
                            <div class="inner">
                                <h3 th:text="${numberOfNews}"></h3>
                                <p>News</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-newspaper"></i>

                            </div>
                            <a href="/admin/news/" class="small-box-footer">
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">

                        <div class="small-box bg-gray-light">
                            <div class="inner">
                                <h3 th:text="${numberOfPromotions}"></h3>
                                <p>Promotions</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-star"></i>

                            </div>
                            <a href="/admin/promotions/" class="small-box-footer">
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">

                        <div class="small-box bg-gray-light">
                            <div class="inner">
                                <h3 th:text="${numberOfUsers}"></h3>
                                <p>User Registrations</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>

                            </div>
                            <a href="/admin/users/" class="small-box-footer">
                                More info <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="far fa-chart-bar"></i>
                                    Donut Chart
                                </h3>

                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div th:if="${numberOfUsers==0}" class="text-center"><h1>Недостаточно информации о пользователях</h1></div>
                                <div th:if="${numberOfUsers!=0}" id="donut-chart" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
</div>
<th:block th:insert="~{admin-panel/fragments/js :: js}"></th:block>
<th:block th:insert="~{admin-panel/fragments/statistics-js :: statistics-js}"></th:block>
<script>
    $(function () {
        /*
         * DONUT CHART
         * -----------
         */

        var donutData = [
            {
                label: 'Муж',
                data : [[${numberOfMaleUsers}]],
                color: '#3c8dbc'
            },
            {
                label: 'Жен',
                data : [[${numberOfFemaleUsers}]],
                color: '#7a009a'
            }
        ]
        $.plot('#donut-chart', donutData, {
            series: {
                pie: {
                    show       : true,
                    radius     : 1,
                    innerRadius: 0.5,
                    label      : {
                        show     : true,
                        radius   : 2 / 3,
                        formatter: labelFormatter,
                        threshold: 0.1
                    }

                }
            },
            legend: {
                show: false
            }
        })
        /*
         * END DONUT CHART
         */

    })

    /*
     * Custom Label formatter
     * ----------------------
     */
    function labelFormatter(label, series) {
        return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
            + label
            + '<br>'
            + Math.round(series.percent) + '%</div>'
    }
</script>
</body>
</html>
