<footer class="container-xxl pt-5" th:fragment="footer">
  <div class="row">
    <div class="col-4 col-auto">
      <h5>Мобильные приложения</h5>
      <img src="/img/common/google-play-badge.png" role="button" width="150">
      <img src="/img/common/app_store_badge_eng.png" role="button">
      <div class="pt-3"><h6>Разработка сайтов: AVADA-MEDIA</h6></div>
    </div>
    <div class="col-2 col-auto">
      <h5>Афиша</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Расписание</a></li>
        <li><a class="link-secondary" href="#">Скоро в прокате</a></li>
        <li><a class="link-secondary" href="#">Кинотеатры</a></li>
        <li><a class="link-secondary" href="#">Акции</a></li>
      </ul>
    </div>
    <div class="col-2 col-auto">
      <h5>О кинотеатре</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Новости</a></li>
        <li><a class="link-secondary" href="#">Реклама</a></li>
        <li><a class="link-secondary" href="#">Кафе-бар</a></li>
        <li><a class="link-secondary" href="#">Контакты</a></li>
      </ul>
    </div>
    <div class="col-3 col-auto">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link link-dark" href="#" role="button"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
          <li class="nav-item"><a class="nav-link link-dark" href="#" role="button"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
          <li class="nav-item"><a class="nav-link link-dark" href="#" role="button"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
          <li class="nav-item"><a class="nav-link link-dark" href="#" role="button"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
          <li class="nav-item"><a class="nav-link link-dark" href="/admin" role="button"><i class="fa-solid fa-ghost fa-xl"></i></a></li>
        </ul>
    </div>
  </div>
  <div class="row text-center pt-4">
    <small class="d-block mb-3 text-muted">&copy;KinoCMS 2023, All rights reserved</small>
  </div>
</footer>