<header class="site-header sticky-top py-1" th:fragment="header">
    <div class="row">
        <div class="col-md-2 text-center m-auto">
            <div class="btn btn-light disabled">Kino-CMS</div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 mt-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск">
                        <button class="btn btn-outline-light" type="button" id="search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link link-light" href="#" role="button"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#" role="button"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#" role="button"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="#" role="button"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="row"><h2 class="text-light">(048) 777-77-77</h2></div>
                    <div class="row"><h2 class="text-light">(097) 777-77-77</h2></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <nav class="container d-flex flex-column flex-md-row justify-content-between">
                        <a class="py-2 d-none d-md-inline-block" href="/poster/">Афиша</a>
                        <a class="py-2 d-none d-md-inline-block" href="/schedule/">Расписание</a>
                        <a class="py-2 d-none d-md-inline-block" href="/coming-soon/">Скоро</a>
                        <a class="py-2 d-none d-md-inline-block" href="/cinemas/">Кинотеатры</a>
                        <a class="py-2 d-none d-md-inline-block" href="/promotions/">Акции</a>
                        <a class="py-2 d-none d-md-inline-block" href="/about-cinema/">О кинотеатре</a>
                        <a class="py-2 d-none d-md-inline-block" href="/client-cabinet/">Личный кабинет</a>
                    </nav>
                </div>
                <div class="col-md-auto pt-1">
                    <select class="form-select form-select-sm" aria-label="Default select example">
                        <option selected>Рус</option>
                        <option >Укр</option>
                    </select>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</header>