<div class="sidebar" th:fragment="sidebar">
    <!-- Sidebar sidebar -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview"
            data-accordion="false">
            <li class="nav-item">
                <a href="/admin/statistics/" class="nav-link">
                    <p>
                        Статистика
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/banners/" class="nav-link">
                    <p>
                        Баннера/Слайдеры
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/movies/" class="nav-link">
                    <p>
                        Фильмы
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/cinemas/" class="nav-link">
                    <p>
                        Кинотеатры
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/news/" class="nav-link">
                    <p>
                        Новости
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/promotions/" class="nav-link">
                    <p>
                        Акции
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/pages/" class="nav-link">
                    <p>
                        Страницы
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/users/" class="nav-link">
                    <p>
                        Пользователи
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/distributions/" class="nav-link">
                    <p>
                        Рассылка
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>
