<div th:fragment = "menu">
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/statistics/" class="nav-link">
                        <p>
                            Статистика
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/banners/" class="nav-link">
                        <p>
                            Баннера/Слайдеры
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/movies/" class="nav-link">
                        <p>
                            Фильмы
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/cinemas/" class="nav-link">
                        <p>
                            Кинотеатры
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/news/" class="nav-link">
                        <p>
                            Новости
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/promotions/" class="nav-link">
                        <p>
                            Акции
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pages/" class="nav-link">
                        <p>
                            Страницы
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/users/" class="nav-link">
                        <p>
                            Пользователи
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/distributions/" class="nav-link">
                        <p>
                            Рассылка
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
</div>