<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:replace="~{/web/fragments/head :: head}"></th:block></head>
<body>

<th:block th:insert="~{/web/fragments/header :: header}"></th:block>

<main>
  <div class="row">
    <div class="col-md-12">
      <img src="/img/img_3.png" class="d-md-block w-100" alt="..." height="600">
    </div>

  </div>

  <div class="row pt-5">
    <div class="col-md-2 pt-5" th:object="${movie}">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">
          <img th:src="${movie.mainImage == null} ? ${'/img/common/no-image.jpg'} : ${'/files/' + movie.mainImage}"
               class="product-image w-100 " height="250" alt="Movie Image">
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2">Цена в грн: 55</div>
        <div class="col-md-3">Забронировано: 0</div>
        <div class="col-md-4">Ваш заказ: Биллетов:0 Сумма:0</div>
      </div>
      <div class="row pt-4">
        <div class="col-md-auto">
          <img src="/img/schema.png" class="d-md-block w-100" alt="...">
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-md-12">
          <p>ЗАбРОНИРОВАННЫЕ БИЛЕТЫ МОЖНО ВЫКУПИТЬ В КАССЕ НЕ ПОЗДНЕЕ ЧЕМ ЗА ПОЛЧАСА ДО НАЧАНАЛА СЕАНСА</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-6"></div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-secondary">Забронировать</button>
        </div>
        <div class="col-md-auto">
          <button type="button" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
  </div>

</main>

<th:block th:insert="~{/web/fragments/footer :: footer}"></th:block>

<th:block th:insert="~{/web/fragments/js :: js}"></th:block>
</body>
</html>
