<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/web/fragments/head :: head}"></th:block>
</head>
<body>

<th:block th:insert="~{/web/fragments/header :: header}"></th:block>

<main th:object="${cinema}">
    <div class="row">
        <img th:src="*{topBanner == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + topBanner}"
             class="d-md-block w-100" alt="..." height="600">
    </div>

    <div class="row pt-5">
        <div class="col-md-2">
            <div class="row pt-5 mt-5">
                <div class="col-md-1 p-3"></div>
                <div class="col-md-auto pt-5 mt-5">
                    Количество залов: <th:block th:text="${countHalls}"></th:block>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 ">
                    <div class="card" style="width: 11rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:if="${hall.disabled}" th:each="hall:${hallsByCinema}">
                                <a th:href="${'/cinemas/'+ cinema.id +'/hall-cart/' + hall.id}" th:text="${hall.name}" class="dropdown-item text-black">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-1 p-3"></div>
                <div class="col-md-auto">
                    Смотрите сегодня:
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6 ">
                    <div class="card" style="width: 11rem;">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="dropdown-item text-black" href="#">Сеанс 1</a>
                            </li>
                            <li class="list-group-item">
                                <a class="dropdown-item text-black" href="#">Сеанс 2</a>
                            </li>
                            <li class="list-group-item">
                                <a class="dropdown-item text-black" href="#">Сеанс 3</a>
                            </li>
                            <li class="list-group-item">
                                <a class="dropdown-item text-black" href="#">Сеанс 4</a>
                            </li>
                            <li class="list-group-item">
                                <a class="dropdown-item text-black" href="#">Сеанс 5</a>
                            </li>
                            <li class="list-group-item">
                                <a class="dropdown-item text-black" href="#">Сеанс 6</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto p-3">
                    <button type="button" class="btn btn-success">Расписание всех сеансов</button>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4"><h2 th:text="*{name}"></h2></div>
                <div class="col-md-2">
                    <img th:src="*{logo == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + logo}"
                         class="d-md-block w-100" alt="/img/img.png">
                </div>
                <div class="col-md-6">
                    <div class="row m-auto pt-5">
                        <div class="col-md-auto">
                            <a href="#" class="btn btn-success disabled" >3D</a>
                        </div>
                        <div class="col-md-auto">
                            <a href="#" class="btn btn-primary disabled">D-BOX</a>
                        </div>
                        <div class="col-md-auto">
                            <a href="#" class="btn btn-info disabled">DOLBY ATMOS</a>
                        </div>
                        <div class="col-md-auto">
                            <a href="#" class="btn btn-danger disabled">VIP</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row pt-5">
                <div class="col-md-11">
                    <p class="text-start" th:text="*{description}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 text-center p-5"><h1>Условие</h1></div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <p class="text-start" th:text="*{conditions}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5 text-center"><h1>ФОТОГАЛЕРЕЯ</h1></div>
    <div class="row m-auto w-75">
        <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="6000" th:if="*{galleryImage1!=null}">
                    <img th:src="*{galleryImage1 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage1}"
                         class="d-md-block w-100" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage2!=null}">
                    <img th:src="*{galleryImage2 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage2}"
                         class="d-md-block w-100" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage3!=null}">
                    <img th:src="*{galleryImage3 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage3}"
                         class="d-md-block w-100" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage4!=null}">
                    <img th:src="*{galleryImage4 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage4}"
                         class="d-md-block w-100" alt="/img/img.png">
                </div>
                <div class="carousel-item" data-bs-interval="6000" th:if="*{galleryImage5!=null}">
                    <img th:src="*{galleryImage5 == null} ? ${'/img/common/no-image.jpg'} : *{'/files/' + galleryImage5}"
                         class="d-md-block w-100" alt="/img/img.png">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

</main>

<th:block th:insert="~{/web/fragments/footer :: footer}"></th:block>

<th:block th:insert="~{/web/fragments/js :: js}"></th:block>
</body>
</html>
