<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{/web/fragments/head :: head}"></th:block>
</head>
<body>

<th:block th:insert="~{/web/fragments/header :: header}"></th:block>

<main>
  <div class="row">
    <div class="ml-5 col-md-10 ">
      <div class="row">
        <div class="col-md-4 gap-3 p-5" th:if="${cinema.disabled}" th:each="cinema:${cinemas}">
          <div class="row">
            <div class="card p-0">
              <a th:href="${'/cinemas/cinema-cart/' + cinema.id}" class="text-gray-dark">
                <img th:src="${cinema.logo == null} ? ${'/img/common/no-image.jpg'} : ${'/files/' + cinema.logo}"
                     class="card-img-top" height="250" alt="...">
              </a>
              <div class="card-body">
                <div class="col-md-12 form-group text-center" th:text="${cinema.name}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row mt-5 ">
        <div class="col-md-12 text-center">
          <div class="col-md-2"></div>
          <div class="col-md-9 ">
            <img src="/img/img_4.png" class="d-md-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<th:block th:insert="~{/web/fragments/footer :: footer}"></th:block>

<th:block th:insert="~{/web/fragments/js :: js}"></th:block>
</body>
</html>
